<header>
    <nav>
      <div class="logo">
        StartUp Software
        <img src="" alt=" Software Logo">
      </div>
      <ul id="targetId">
        <li><a routerLink="services" (click)="scrollToElement('#services')">Services</a></li>
        <li><a routerLink="why-choose-us" (click)="scrollToElement('#why-choose-us')">Why Choose Us</a></li>
        <li><a routerLink="testimonials" (click)="scrollToElement('#testimonials')">Testimonials</a></li>
        <li><a routerLink="projects" (click)="scrollToElement('#projects')">Projects</a></li>
        <li><a routerLink="contact" (click)="scrollToElement('#contact')">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  